@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('navbar.css'); 

/* global reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;


}

body, .container {
    min-height: 100vh;
    margin: 0 0 2em;
    background: linear-gradient(#e66465, #9198e5);
    
   
}


.container header{
    /* border: solid 2px ;  */
    flex:1; 
    display: flex;  
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
}

.container main {
    /* border: solid 2px; */
    flex: 3;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 0 0 2em;
    text-align: center;
    margin: 0 25%; 
    display: flex;
    gap: 1em;
    flex-direction: column;
    
}

.container footer {
    /* border: solid 2px; */
    flex: 1; 
}

/* Styles für das Task-Input */
.todo-btn {
    width: 250px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    
}

.todo-btn::placeholder {
    color: #fff;
}

/* Styles für die tasks */

.div-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    flex-direction: row;

    padding: 0 5% 0;
    width: 100%;
    
}

.div-wrapper p{
    flex: 1;
    text-align: center; /* Zentriert den Text innerhalb dieses Platzes */
    font-size: 20px;
    margin: 0;
}

/* .div-wrapper p::content {
    color: black;
} */

.styleforlist {
    border-radius: 2em;
    gap: 2em;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgb(255, 255, 255, .2);
    color: #fff;
    width: 60%;

    

}
#taskheader {
    font-size: large;
    color: #fff;
}

/* Ist derselbe Button! delete und icon*/
.delete-btn { 
    background: transparent; 
    border: none;           
    flex: 0 0 26px; /* WICHTIG: der Button darf nicht wachsen (0) und schrumpfen (0) */
    width: 26px;    /* Feste Breite für das Icon?  */
    height: 26px;
    display: flex;           
    align-items: center;
    justify-content: center; 
    
    }


.delete-btn:hover {
    background: lightgray;
}

.icon-btn svg {
  fill: #fff; 
  width: 24px;
  height: 24px;
  transition: fill 0.3s; 
  cursor: pointer;
}



.resetdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#reset-btn {
    background: transparent; 
    border: none;           
    display: flex;           
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    transition: fill 0.3s;
}

#reset-btn svg{
    width: 20px;
    height: 20px; 
    fill: #fff;
    cursor: pointer;
    transition: fill 0.3s; 
}

#reset-btn:hover {
    background: lightgray;
}



